$primary-grey: #e3e3e3;
$secondary-grey: #eee;

$primary-yellow: #fffcf5;
$secondary-yellow: #a37200;

$primary-blue: #f8faff;
$secondary-blue: #2248a6;

$primary-green: #fafff8;
$secondary-green: #c2dca3;